{{- /*gotype:pbench/cmd/genddl.Schema*/ -}}
{{- if .TargetSchema }}
{{- if .Iceberg }}
USE iceberg.{{ .TargetSchema }};
{{- else }}
USE hive.{{ .TargetSchema }};
{{- end }}

{{ range .InsertTables -}}
INSERT INTO {{ .Name }}
SELECT
{{- $first := true }}
{{- range .Columns }}
  {{- if $first }}
  {{- $first = false }}
  {{- else }},
  {{- end }}
  {{- if eq $.SourceFileFormat "CSV" }}
    {{- if .IsVarchar }}
  NULLIF({{ .Name }}, '') AS {{ .Name }}
    {{- else }}
  CAST(NULLIF({{ .Name }}, '') AS {{ .Type }}) AS {{ .Name }}
    {{- end }}
  {{- else }}
    {{- if .IsVarchar }}
  {{ .Name }}
    {{- else }}
  CAST({{ .Name }} AS {{ .Type }}) AS {{ .Name }}
    {{- end }}
  {{- end }}
{{- end }}
FROM {{ if $.SourceSchema }}hive.{{ $.SourceSchema }}.{{ .Name }}{{ else }}{{ $.Workload }}.sf{{ $.ScaleFactor }}.{{ .Name }}{{ end }};

{{ end }}
{{- range .InsertTables -}}
ANALYZE {{ .Name }};
{{ end -}}
{{- end }}
